*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: #161722;
  background-image: url(../images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #cacde8; }

.container {
  width: 33%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.todo-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fafafa;
  margin-bottom: 3rem;
  font-weight: 700; }
  .todo-head__logo {
    letter-spacing: 1rem; }

.todo-list-box {
  background-color: #25273c;
  border-radius: 0.5rem; }

.todo-list {
  list-style: none;
  margin-bottom: 5rem; }
  .todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem; }
    .todo-list-item:not(:first-child) {
      border-top: 1px solid #4d5066; }

.todo-check {
  display: flex;
  align-items: center; }
  .todo-checkbox {
    display: none; }
  .todo-check-toogle {
    width: 2rem;
    height: 2rem;
    border: 1px solid #4d5066;
    border-radius: 50%;
    margin-right: 1.2rem; }

.add-todo {
  background-color: #25273c;
  padding: 1.8rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem; }
  .add-todo- {
    background-color: transparent;
    background-image: linear-gradient(to right bottom, #57ddff, #c058f3);
    border: none; }
