* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: hsl(235, 21%, 11%);
  background-image: url(../images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  color: hsl(234, 39%, 85%);
}

.container {
  width: 33%;
  @include place-center;
}

.attribution {
  font-size: 11px;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}
