.todo {
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(0, 0%, 98%);
    margin-bottom: 3rem;
    font-weight: 700;

    &__logo {
      letter-spacing: 1rem;
    }

    &__theme-icon {
      cursor: pointer;
      @include transition;
    }
  }

  &-list-box {
    background-color: #25273c;
    border-radius: 0.5rem;
    box-shadow: $shadow;
    margin-bottom: 5rem;
  }

  &-list {
    height: 37.2rem;
    list-style: none;
    overflow: hidden;
    @include transition;

    // margin-bottom: 5rem;

    .sample-item {
      display: none;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: inherit;
      padding: 1.8rem;
      border-bottom: 1px solid hsl(233, 14%, 35%);
      @include transition;

      &:hover .todo-delete {
        display: block;
      }
    }
  }

  &-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    &-icon {
      text-align: center;
      width: 10%;
      margin-bottom: 1rem;
    }

    &-btn {
      color: hsl(233, 14%, 35%);
      border: none;
      background-color: transparent;
      font-size: inherit;
      font-family: inherit;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &-delete {
    cursor: pointer;
    display: none;
    transition: color 0.3s;
  }

  &-check {
    display: flex;
    align-items: center;
    justify-content: center;

    &box {
      display: none;
    }

    &-toogle {
      background-color: inherit;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;

      border: 1px solid hsl(233, 14%, 35%);
      border-radius: 50%;

      margin-right: 1.5rem;

      @include transition;

      &:hover {
        background: linear-gradient(
          to right bottom,
          hsl(192, 100%, 67%),
          hsl(280, 87%, 65%)
        );
        border: none;
        mask-image: url(../images/Ellipse.svg);
        -webkit-mask-image: url(../images/Ellipse.svg);
        mask-size: 100%;
        -webkit-mask-size: 100%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
      }

      &-icon {
        display: none;
        z-index: 1;
      }
    }

    &box:checked + &-toogle,
    &box:checked + &-toogle:hover {
      background: linear-gradient(
        to right bottom,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );
      border: none;
      mask-image: none;
      -webkit-mask-image: none;
    }

    &box:checked + &-toogle &-toogle-icon-box &-toogle-icon {
      display: block;
    }

    &box:checked ~ &-text {
      color: hsl(233, 14%, 35%);
      text-decoration: line-through;
    }
  }

  &-foot {
    display: flex;
    justify-content: space-between;
    color: hsl(233, 14%, 35%);
    font-size: 1.5rem;
    padding: 2rem 1.8rem;
    border-top: 1px solid hsl(233, 14%, 35%);

    &-nav {
      display: flex;
      justify-content: space-between;
      width: 70%;

      &__list {
        display: flex;
        justify-content: space-between;
        color: inherit;
        width: 50%;
        list-style: none;
        font-weight: 700;

        &-item {
          @include hover-white;
        }
      }
    }
  }

  &-clear {
    @include hover-white;
  }
}

.add-todo {
  display: flex;
  align-items: center;
  background-color: #25273c;
  padding: 1.8rem;
  border-radius: 0.5rem;
  box-shadow: $shadow;
  margin-bottom: 2rem;

  &-img {
    width: 6%;
    margin-right: 1.5rem;
    cursor: pointer;
  }

  &-input {
    background-color: inherit;
    color: inherit;
    // padding: 1rem;
    border: none;
    font-size: 1.6rem;
    font-family: inherit;
    width: 100%;
    height: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: hsl(234, 11%, 52%);
      font-size: 1.6rem;
      font-weight: 400;
      font-family: "Josefin Sans", sans-serif;
    }
  }
}

.reorder {
  text-align: center;
  color: hsl(234, 11%, 52%);
}

.active {
  color: hsl(220, 98%, 61%) !important;
}
